$category-color-1: $brand-success;
$category-color-2: $brand-info;
$category-color-3: $brand-danger;
$category-color-4: $brand-warning;
$black: rgb(76, 76, 76);
$light-background: rgb(245, 245, 245);
