.badge.badge-square {
  border-radius: 2px;
}

.badge.badge-fully-square {
  border-radius: 0px;
}

.badge.category-color-1 {
  background-color: $category-color-1;
  color: white;
}

.badge.category-color-2 {
  background-color: $category-color-2;
  color: white;
}

.badge.category-color-3 {
  background-color: $category-color-3;
  color: white;
}

.badge.category-color-4 {
  background-color: $category-color-4;
  color: white;
}
