.category {
  padding: 3px;

  > a:hover { text-decoration: none; }

  div.category-container {
    padding: 10px;
    color: white;
    min-height: 130px;
    text-align: center;

    .title {
      margin-top: 15px;
      text-transform: capitalize;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: 600;
    }

    p {
      margin-bottom: 0px;
      font-size: 11px;
      text-transform: uppercase;
    }

    .seperator {
      width: 40px;
      height: 2px;
      margin: 18px auto 27px auto;
      background-color: white;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &.category-color-1 {
    div.category-container {
      background-color: $category-color-1;
    }

    &:hover {
      div.category-container {
        background-color: $category-color-1-light;
      }
    }
  }

  &.category-color-2 {
    div.category-container {
      background-color: $category-color-2;
    }

    &:hover {
      div.category-container {
        background-color: $category-color-2-light;
      }
    }
  }

  &.category-color-3 {
    div.category-container {
      background-color: $category-color-3;
    }

    &:hover {
      div.category-container {
        background-color: $category-color-3-light;
      }
    }
  }

  &.category-color-4 {
    div.category-container {
      background-color: $category-color-4;
    }

    &:hover {
      div.category-container {
        background-color: $category-color-4-light;
      }
    }
  }

}

.events-wrapper {
  .header {
    margin: 0px;
    margin-bottom: 10px;
  }

  .list-wrapper {

  }
}

.tag-finder {
  input#tag-finder {
  }

  .selected-tags {
    display: inline-block;
    vertical-align: middle;
    li {
      margin-right: 5px;
      a { padding: 0px;  }
      span.badge {
        margin-left: 0px;
        border-radius: 0px;
        padding: 10px 13px;
        min-width: 75px;
      }

      &:last-child {
        margin-right: 10px;
      }
    }
  }

  .dropdown {
    vertical-align: middle;
    .possible-tags {
      li > a > span {
        border-radius: 50%;
        &.category-color-1 { background-color: $category-color-1; }
        &.category-color-2 { background-color: $category-color-2; }
        &.category-color-3 { background-color: $category-color-3; }
        &.category-color-4 { background-color: $category-color-4; }
        height: 10px;
        width: 10px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
}

.categories-index {
  .categories-list {
    max-width: 1018px;
    margin: 0px auto;
  }
}
