$light-brand-primary: lighten($brand-primary, 5%);

.category {
  > div.category-container {
    background-color: $brand-primary;
    border-radius: 4px;
    padding: 10px;
    color: white;
    min-height: 70px;
    margin-bottom: 10px;

    h4 {
      margin-top: 0;
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 0px;
    }
  }

  &:hover {
    text-decoration: none;
    > div.category-container {
      background-color: $light-brand-primary;
    }

    &#all {
      > div.category-container {
        border: 2px solid $light-brand-primary;
        color: $light-brand-primary;
      }
    }
  }

}

.events-wrapper {
  .header {
    margin: 0px;
    margin-bottom: 10px;
  }

  .list-wrapper {

  }
}

.tag-finder {
  .selected-tags {
    display: inline-block;
    vertical-align: middle;
    li {
      margin-right: 20px;
    }
  }

  .dropdown {
    vertical-align: middle;
    .possible-tags {}
  }
}
