.event-loading-placeholder {
  text-align: center;
  border-radius: 6px;
  background-color: $gray-lighter;
  padding: 20px;
}

.events-list {
  .event-box {
    margin-bottom: 30px;
    background: none;
    border: 1px solid lighten(black, 30%);
    position: relative;
    padding: 10px;
    border-radius: 3px;

    &:hover {
      border: 1px solid black;
    }

    .event-box-container {
      width: calc(100% - 50px);
    }

    .actions {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 10px;
    }

    .quick-description {
      margin: 0px;
      height: 200px;
      overflow: hidden;
    }

    .title {
      margin: 0px;
      margin-bottom: 15px;
      width: 'calc(100% - 55px)';
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.event {
  .event-pre {

  }

  .event-container {
    margin-top: 10px;
    padding: 10px;

    .title {}
    h5 {
      font-weight: bold;
      margin-top: 30px;
    }

    ul.tags-list {
      list-style: none;
      li {
        float: left;
        margin-right: 20px;
      }
    }
  }
}

.event-edit {
  .event-container {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid black;

    .title {
      margin: 0px;
      margin-bottom: 10px;
    }
  }

  .actions {
    margin-top: 20px;
  }
}
