input.form-control {
  border: none;
  border-bottom: 1px solid $black;
  border-radius: 0px;
  box-shadow: none;
  background: none;
  padding: 0px;
  padding-bottom: 3px;
  height: 25px;

  &:focus {
    box-shadow: none;
    background: none;
    border-radius: 0px;
  }
}

.form-group {
  margin-bottom: 30px;
}
