.image-uploader {
  .max-files-placeholder {
    font-weight: normal;
    margin-left: 10px;
    @extend .text-muted;
  }

  .images-container {
    text-align: center;
    min-height: 140px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.03);

    .image-container {
      max-width: 100px;
      max-height: 100px;
      display: inline-block;
      margin-right: 20px;
      vertical-align: top;
    }

    .no-image-placeholder {
      padding: 40px;
      font-weight: bold;
      @extend .text-muted;
      opacity: 0.7;
    }
  }
}

.image-dropzone {
  display: none;
}

.active-image-dropzone {

}

.removable-image {
  position: relative;

  .remove-span {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);

    a {
      color: rgba(0, 0, 0, 0.6);;
    }
  }

  &:hover .remove-span { display: block; }
}

.file-add-button {
  padding: 2px 9px;
}
