.image-uploader {
  .image-container {
    max-width: 100px;
    max-height: 100px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
  }
}

.image-dropzone {
  background-color: $gray-light;
  color: white;
  width: 100px;
  height: 100px;
  font-size: 14px;
  padding: 30px 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;

  &:hover {
    background-color: lighten($gray-light, 10%);
  }
}

.active-image-dropzone {

}

.removable-image {
  position: relative;

  .remove-span {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);

    a {
      color: rgba(0, 0, 0, 0.6);;
    }
  }

  &:hover .remove-span { display: block; }
}
