.presentational-span {
  background-color: $brand-success;
  color: $white;
  padding: 0px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
}
